@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #48adc1;
}
body {
  overflow-x: hidden;
}
a {
  color: black;
  font-size: 1rem;
  /* font-weight: 800; */
}
h1 {
  color: white;
  font-size: 4rem;
}
.cta {
  color: white;
  background: #48adc1;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.heading {
  color: black;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}
.line-heigth {
  line-height: 2;
}

/* =========================STARTING OF THE MAIN STYLINGS=========================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 2rem; */
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 1rem;
  z-index: 1000;
  /* display: none; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-item.cta a {
  color: white;
}
.menu-open,
.menu-close {
  display: none;
}
.menu-open i,
.menu-close i{
    font-size: 2rem;
}

/* =========home======== */
main {
  width: 100%;
  /* COMMENT OUT TO SEE THR EFFECT ON THE PAGE ON MOBILE SCREENS */
  overflow-x: hidden;
}
.home {
  background: linear-gradient(rgba(0,0,0,0.5),var(--main-color)),url('/images/techy.jpg');

  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ==============about============= */
.about {
  padding: 2rem 0;
}
.about-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text {
  width: 500px;
}
/* .about-summary{
    display: flex;
    gap: .6rem;
    align-items: center;
} */

/* ==============service=========== */
.service {
  padding: 2rem 0;
  background: var(--main-color);
}
.service-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-text {
  width: 500px;
}
.service-summary {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

/* ==========courses========= */
.course {
  padding: 1rem;
}
.course-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem 0;
}
.grid-item {
  background: rgb(245, 243, 243);
  height: 300px;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid-item h2,
.grid-item h3,
.grid-item p {
  margin-bottom: 1rem;
}
.grid-item a {
  display: inline-block;
}

/* ====================Contact===================== */
.contact {
  background: var(--main-color);
  padding: 0 1rem 2rem 1rem;
}
/* -------------------- */

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-transform: none;
}

.contact .contact-text h2 {
  font-size: 2rem;
  font-weight: 700;
  /* color: var(--white-color); */
  /* margin-bottom: 3rem; */
}
.contact .contact-text h2 span {
  /* color: var(--main-color); */
}

.contact .contact-text p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 400;
  letter-spacing: 1;
  text-transform: none;
  margin-bottom: 1rem;
}
.contact .contact-text .list {
  text-transform: none;
}
.contact .contact-text .list li {
  text-transform: none;
  margin-bottom: 1rem;
}
.contact .contact-text .list li span {
  background: var(--white-color);
  padding: 0.5rem;
  border-radius: 50%;
}
.contact .contact-text .list a {
  text-transform: none;
  font-size: 1rem;
  color: var(--white-color);
}

.contact .form form {
  position: relative;
}

form input,
form textarea {
  width: 100%;
  padding: 14px;
  /* border-bottom: 1px solid var(--second-bg-color); */
  /* color: var(--text-color); */
  font-size: 15px;
  margin-bottom: 10px;
  text-transform: none;
}
form textarea {
  resize: none;
  height: 140px;
}
.submit {
  font-size: 16px;
  background: white;
  color: var(--main-color);
  width: 150px;
  outline: none;
  border: none;
  transition: all 0.5s ease;
}

/* =====fotter=== */
footer {
  padding: 2rem 1rem;
}
.footer-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.footer-headings {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--main-color);
}
.footer-logo {
  padding-top: 2rem;
}




/* Media queries */

@media screen and (max-width: 700px) {
  .menu-open,
  .menu-close {
    display: block;
  }
  .nav-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 3rem;
    background: var(--main-color);
    /* display: none; */
    visibility: hidden;
  }
  .nav-item.cta a {
  color: black;
}
  li.cta{
    background: white;
    color: var(--main-color);
  }
  .home {
  align-items: start;
}
.home h1{
    font-size: 2.5rem;
}
  .about-flex {
    flex-direction: column;
  }
  .service-flex {
    flex-direction: column;
  }
  .toggle{
    visibility: visible;
  }
}

@media screen and (max-width: 500px){
    .about-text{
        width: 300px;
    }
    .service-text{
        width: 300px;
    }

    .contact-info {
      /* display: grid; */
      grid-template-columns: 1fr;
      align-items: center;
      text-transform: none;
    }
    .image img,.service-image img{
      /* width: 200px; */
      padding: 2rem;
    }
}